body{
    margin: 0;
  }
  #total{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #header{
    background-color: #273852;
  }
  #main-heading{
    font-family: arial;
    color: white;
    display: inline-block;
    margin-left: 20px;
  }
  #main-sub-heading{
    color: white;
    display: inline-block;
    font-family: arial;
    margin-left: 20px;
  }
  #container{
    display: flex;
  }
  #data{
    background-color: white;
    height: 100%;
    width: 70%;
    float: left;
    
  }
  #subs{
    background-color: white;
    height: 100%;
    width: 30%;
    float: left;
    padding-left: 30px;
  }
  .news{
    height: 180px;
    width: 100%;
    background-color:white;
  }
  .fakeimg{
    height: 90%;
    width: 20%;
    background-color: #d0d0d0;
    float: left;
    margin: 1%;

  }
  .content{
    background-color:white;
    margin: 1%;
    height: 90%;
    width: 76%;
    float: left;
  }
  .news-heading{
    color:black;
    font-family: arial;
    margin: 0;
    padding: 0;
  }

  .news-time{
    margin: 0;
    font-size: 0.8em;

  }
  
  .news-matter{
    margin: 0;
    font-size: 0.95em;
    margin-top: 10px;

  }

  .news-extend{
    background-color: #d25e52;
    color: white;
    margin: 0;
    margin-top: 8px;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #footer{
    height: 30px;
    width: 100%;
    background-color: #273852;

  }
  #footer-content{
    display: inline;
    font-family: arial;
    font-size: 0.6em;
    color: white;
    text-align: center;
    margin-left: 47%;
  }